@model TrashCollectorProject.Models.Service

@{
    ViewData["Title"] = "Billing";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Billing</h1>

<div>
    <h4>Service</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Balance)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Balance)
        </dd>
    </dl>
</div>
<script src="https://js.stripe.com/v3/"></script>
<form asp-action="Charge" method="POST" asp-route-serviceId="@Model.Id">
    <article>
        <label>Amount: $@Model.Balance</label>
    </article>
    <script src="//checkout.stripe.com/v2/checkout.js"
            class="stripe-button"
            data-key="@KeyVariables.StripeKey"
            data-locale="auto"
            data-description="Waste Pickup"
            data-amount="@(Model.Balance * 100)">
    </script>
</form>

<div>
    <a asp-action="Index">Back to Dashboard</a>
</div>
