@model TrashCollectorProject.Models.EmployeeViewModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Good Morning, @Model.Employee.Name</h1>
<div class="row">
    <div class="col-sm-6">
        <h2>Customers in your area</h2>
    </div>
    <div class="col-sm-6" style ="text-align:right">
        <a asp-action="CustomerDatabase">Customer Database</a>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>Customer Name </th>
            <th>Street Address</th>
            <th>City</th>
            <th>State</th>
            <th>Zip</th>
            <th>Account Active</th>
            <th>Options</th>
        </tr>
    </thead>
    <tbody>
@foreach (var customer in Model.Customers) {
        <tr>
            <td>
                @customer.Name
            </td>
            <td>
                @customer.Address.StreetAddress
            </td>
            <td>
                @customer.Address.City
            </td>
            <td>
                @customer.Address.State
            </td>
            <td>
                @customer.Address.Zip
            </td>
            <td>
                @customer.Service.isActive
            </td>
            <td>
                @if (customer.Service.isActive)
                {
                    @Html.ActionLink("Confirm Pickup", "Edit", new { /* id=item.PrimaryKey */ })
                    @: |
                }
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
